<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h2>This is index page</h2>

    <div>
        <span sec:authorize="isAnonymous()">
            <a href="#" th:href="@{/login}">로그인</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            <a href="#" th:href="@{/logout}">로그아웃</a>
        </span>
    </div>

    <div>
        <div th:if="${username != null}">
            Logged in as : <span id="user" th:text="${username}">username</span>
            <a href="/logout">Logout</a>
        </div>
        <div th:if="${username == null}">
            <a href="/oauth2/authorization/google">Google Login</a>
        </div>
    </div>
</body>
</html>
