<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" href="../css/bootstrap.min.css">
<script th:src="@{js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
<body>
    <div class="container-sm">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">이름</th>
                    <th scope="col">나이</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <th th:text="${member.id}">ID</th>
                    <td th:text="${member.name}">이름</td>
                    <td th:text="${member.age}">나이</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>