<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="member-modal" class="modal fade" id="member-modal" tabindex="-1" role="dialog" aria-labelledby="member-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="member-modal-title">Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>회원 등급 :
                    <select name="role" id="member-role">
                        <option value="" selected>전체</option>
                        <option th:each="role : ${T(io.github.seondongpyo.thymeleaf.web.domain.Role).values()}"
                                th:text="${role}"
                                th:value="${role}">
                            등급
                        </option>
                    </select>
                </label>
                <table th:replace="table-members :: table-members"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</html>
