<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.seondongpyo.mybatis.mapper.TeamMapper">

    <select id="findById" resultMap="Team">
        SELECT
            *
        FROM
            Team
        WHERE
            id = #{id}
    </select>

    <select id="findAllByTeamId" resultType="io.github.seondongpyo.mybatis.domain.football.Player">
        SELECT
            *
        FROM
            Player
        WHERE
            team_id = #{id}
    </select>

    <resultMap id="Team" type="io.github.seondongpyo.mybatis.domain.football.Team">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="players" column="id" select="findAllByTeamId"/>
    </resultMap>
</mapper>
